h2{
    text-align: center;
}

ul{
    list-style: none;
    text-align: center;
    padding: 0;
}

li{
    position: relative;
    display: inline-block;
    margin: 5px;
    padding: 5px;
    text-align: center;
    border: 1px solid white;
    border-radius: 4px;
    font-weight: bold;
    width: 25%;
    height: 150px;
    transition: all 1s ease;
}
li:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
}

span {
    display: inline-block;
    width: 80%;
    font-weight: lighter;
}

label {
    display: inline-block;
    margin: 5px 0;
}



.addMovie {
    margin: 0;
}



.delete{
    width: 30px;
    position: absolute;
    right: 0;
    top: 0;
    margin: 2px;
    border: 1px solid red;
    transition: all 0.5s ease;
}

.delete:hover{
    background-color: rgba(255, 0, 0, 0.5);
}

@media (max-width: 600px){
    li{width: 33.3%;}
}

@media (max-width: 330px){
    li{width: 100%;}
}