<div *ngIf="movie">
  <h2>Edit Movie</h2>
  <h2>{{movie.name}}</h2>
  <div>
    <label> Movie Title: <input [(ngModel)]="movie.name" placeholder="name"/></label><br>
            
    <label> Duration: <input  [(ngModel)]="movie.duration" placeholder="duration" /> </label><br>
            
    <label > Year: <input  [(ngModel)]="movie.year" placeholder="year"/></label> <br>
            
    <label> Rating FA: <input  [(ngModel)]="movie.ratingFA" placeholder="ratingFA"/></label> <br>
  </div>
  <button (click)="goBack()">go back</button>
  <button (click)="save()">SAVE</button>
</div>
