/* You can add global styles to this file, and also import other style files */
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    background-color: rgba(4, 0, 10,0.9);
    font-family: "Asap", sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    width: 80%;
}

button{
    margin: 10px 10px;
    background-color:rgba(0, 0, 0, 0);
    border: 2px solid white; 
    color: white;
    border-radius: 4px;
    width: 100px;
    font-weight: bold;
}

button:hover{
    cursor: pointer;
    background-color:rgba(255, 255, 255, 0.3);
}

@media (max-width: 600px){
    body{width: 100%;}
    li{width: 33.3%;}
}

@media (max-width: 300px){
    body{width: 90%;}
    li{width: 100%;}
}